* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: lightgray;
    width: 100%;
}

.logo img{
    height: 50px;
    width: auto;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    width: 35%;
    z-index: 2;
}

.nav-list li {
    list-style: none;
}

.nav-list a {
    color: black;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
}

.hamburger {
   display: none; 
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
}

.profil {
    margin: 30px;
    display: flex;
    justify-content: center;
}

.profil img {
    transform: rotate(-10deg);
    height: 270px;
    width: auto;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
}

.abt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}

.abt div {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.abt h2 {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.abt li {
    list-style: none;
    margin-top: 5px;
}

footer {
    background-color: lightgrey;
    height: 6vh;
    margin-top: 10px;
}

footer ul{
    display: flex;
    justify-content: space-around;
}

footer li{
    list-style: none;
    margin-top: 15px;
}

/*tablet*/

@media  (min-width:0px) and (max-width:769px){

    body {
        overflow-x: hidden;  
    }

    .nav-list {
        display: none;
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: lightgray;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in;
        z-index: 99999;
    } 

    .nav-list li{
        opacity: 0;
    }

    .hamburger {
        display: block;
    }

}

.nav-active {
    transform: translateX(0%);
    z-index: 2;
}

.noScroll {
    height: 100%;
    overflow: hidden;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}  

.toggle .menuLine1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .menuLine2 {
    opacity: 0;
}

.toggle .menuLine3 {
    transform: rotate(45deg) translate(-5px, -6px);
}