* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: lightgray;
    width: 100%;
}

.logo img{
    height: 50px;
    width: auto;
}

.hamburger div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    margin-left: 200px;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    width: 35%;
    z-index: 2;
}

.nav-list li {
    list-style: none;
}

.nav-list a {
    color: black;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
}

.nav-list {
   display: none; 
}

.menu div {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px;
}

body{
    overflow-x: hidden;
}

.nav-list {
    display: none;
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
    z-index: 2;
} 

.nav-list li{
    opacity: 0;
}

.nav-active {
    transform: translateX(0%);
    z-index: 2;
}

.noScroll {
    height: 100%;
    overflow: hidden;
}

.hero {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.museum {
    width: 150px;
    height: auto;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

.info h2 {
    margin-bottom: 20px;
}

.info p {
    margin-bottom: 20px;
}

button {
    margin-top: 20px;
    appearance: none;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .5s cubic-bezier(.2,0,.05,1);
    letter-spacing: .5px;
    position: relative;
    padding: 5px 10px 5px 5px;
    background-color: lightgrey;
    z-index: 0;
}

footer {
    background-color: lightgrey;
    height: 6vh;
    margin-top: 10px;
}

footer ul{
    display: flex;
    justify-content: space-around;
}

footer li{
    list-style: none;
    margin-top: 15px;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}  

.toggle .menuLine1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .menuLine2 {
    opacity: 0;
}

.toggle .menuLine3 {
    transform: rotate(45deg) translate(-5px, -6px);
}